<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.shellapp.h5shell">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="${ICon}"
        android:label="${AppName}"
        android:roundIcon="${ICon}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--tools:replace="android:name,android:icon,android:label"-->

        <activity
            android:name=".WelcomeActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsHtmlPageActivityNew"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="WebView"
            android:process=":html">
            <intent-filter>
                <action android:name="com.whh.www.html" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
